<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    //组件的特性：
    //组件可以复用
    //组件内的数据不共享是独有的
    //1-全局组件，只要定义处处可用，性能不高，使用简单。名字建议：小写字母单词，中间用-连接
    //2-局部组件，需要注册才能使用，性能较高，使用复杂。名字建议：首字母大写驼峰命名

    //2-
    const a = {
        data() {
            return {
                count: 0,
            }
        },
        methods: {

        },
        template: `
        <template v-for='(item,index) in 10'>
            {{count}} - {{item}} - {{index}} <br/>
            </template>
            `
    }
    const ggBoy = {
        data() {
            return {
                count: 0,
            }
        },
        methods: {

        },
        template: `
        <template v-for='(item,index) in 10'>
            {{count}} - {{item}} - {{index}} <br/>
            </template>
            `
    }
    const HelloWorld = {
        data() {
            return {
                count: 1
            }
        },
        template: `
            <div @click='count++'>{{count}}</div>
        `
    }
    //创建的是vue应用或者实例，参数可以定义根组件如何渲染->template:`<div>根组件</div>`
    const app = Vue.createApp({
        //调用局部组件 要做名字和组件间的映射对象，不写映射，vue底层也会尝试自动帮你做映射
        //根组件需要调用一个叫做counter的组件，具体的组件指向自定义的变量a
        //当key value值一样可以直接写一个值
        //当使用驼峰式命名的时候，如果组件标签使用小写加 - 连接，也可以完成对组件的映射
        components: {
            count: a,
            ggBoy,
            HelloWorld,
        },
        data() {
            return {
                message: 'hello world',
            }
        },
        methods: {

        },
        template: `
            <div>
                {{message}}<br/>
                <count/>
                <gg-boy/>
                <hello-world>
                <counter/>
            </div>
        `
    });


    //1-
    app.component('counter-parent',{
        template:`
            <counter/>
        `
    });
    app.component('counter',{
        data(){
            return{
                count: 1,
            }
        },
        methods:{
            handleClick(){
                this.count++
            }
        },
        template:`
        <div @click='handleClick'>
            {{count}}
        </div>
        `
    });


    const vm = app.mount('#root')
</script>

</html>