<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: 'hello world',
                cList: ['a', 'b', 'c'],
                count: 0,
                objectList: {
                    firstName: 'a',
                    lastName: 'b',
                    job: 'c',
                }
            }
        },
        methods: {
            listChangeClick() {

                //1.使用变更函数 !!!没有改变数组的引用
                //往数组添加元素
                // this.cList.push('hello' + this.count) 
                //从下往上弹出元素
                // this.cList.pop()
                //从上往下弹出元素
                // this.cList.shift()
                //从上往下添加元素
                // this.cList.unshift('haha')
                //排序
                // this.cList.sort()
                //反转排序
                // this.cList.reverse()
                //与数组的splice使用一致，可用于增删改 本质是操作数组 删除+新增(index,howmany,item..)
                //增 第一个参数为从下标值哪个开始，第二个参数是增加几个，后面值为添加的数值内容
                // this.cList.splice(0,2,'nani')
                //删 第一个参数为从下标值哪个开始，第二个参数是删除几个
                // this.cList.splice(1,2)
                //改 第一个参数为从下标值哪个开始，第二个参数为改几个
                // this.cList.splice(2,1,'haha')

                //2.直接替换数组 !!!改变了数组的引用
                // this.cList=['bye','hello']
                //数组过滤器
                // this.cList=['bye','hello'].filter((a)=>a==='bye')

                //3.直接更新数组内容 !!!没有改变数组的引用
                this.cList[1]='2333'

                this.count++
            },
            objectChangeClick(){
                // 直接添加对象的内容，也可以自动的展示出来
                this.objectList.age = 100
                this.objectList.male = "remale"
            },
        },
        //1-获取集合内的数值
        // template: `
        // <div>
        //     {{message}}<br/>
        //     <div v-for='(item,index) in cList'>
        //       {{index}} - {{item}}
        //     </div>
        // </div>
        // `
        //2-获取对象内的数值
        // 注意：每一次获取对象的时候要添加一个唯一key值辅助vue重用组件而不重新渲染整个对象
        // template: `
        // <div>
        //     {{message}}<br/>
        //     <div v-for='(value,key,index) in objectList' :key='index'>
        //       {{key}} - {{value}} - {{index}}
        //     </div>
        // </div>
        // `
        //3-对数组进行变更的方式
        // template: `
        // <div>
        //     {{message}}<br/>
        //     <div v-for='(item,index) in cList'>
        //       {{index}} - {{item}}
        //     </div>
        //     <button @click='listChangeClick'>新增</button>
        // </div>
        // `
        //4-对对象进行变更的方式
        // template: `
        // <div>
        //     {{message}}<br/>
        //     <div v-for='(value,key,index) in objectList' :key='index'>
        //       {{key}} - {{value}} - {{index}}
        //     </div>
        //     <button @click='objectChangeClick'>新增</button>
        // </div>
        // `
        //5-v-for和v-if在同一个元素内 v-for优先级更高 所以v-if会失效；更好的办法是声明一个子标签把v-if放入
        // template: `
        // <div>
        //     {{message}}<br/>
        //     <div v-for='(value,key,index) in objectList' :key='index'>
        //         <div v-if="key!=='lastName'">
        //             {{key}} - {{value}} - {{index}}
        //         </div>
        //     </div>
        //     <button @click='objectChangeClick'>新增</button>
        // </div>
        // `
        //5-1 如果使用了5当中的v-if就会出现每个for出来的item元素会多包一层div，如何解决？
        //使用<template>标签，该标签不会进行实际的渲染
        template: `
        <div>
            {{message}}<br/>
            <template v-for='(value,key,index) in objectList' :key='index'>
                <div v-if="key!=='lastName'">
                    {{key}} - {{value}} - {{index}}
                </div>
            </template>
            <button @click='objectChangeClick'>新增</button>
        </div>
        `
        //6-补充 for的对象可以直接是数字，充当一个数字集合的作用
        // template:`
        // <div>
        //     <div v-for='item in 10'>
        //         {{item}}
        //     </div>
        // </div>
        // `
    })
    const vm = app.mount('#root')
</script>

</html>