<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                list: ['hello', 'world', 'qwh', 'zzz'],
                inputValue: ''
            }
        },
        methods: {
            handlerAddTimeFun:()=>{

            },
            handleAddTime(){
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        },
        mounted() {

        },
        template: `
        <div>
            <input v-model="inputValue"/>
            <button v-on:click="handleAddTime">增加</button>    
        </div>
        <ul>
            <li v-for="(item,index) of list">{{item}} -- {{index}}</li>
        </ul>
        `
    }).mount('#root');
</script>

</html>