<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    // 创建一个vue实例，并作用于#root这个元素
    //定义大组件
    const app = Vue.createApp({
        data() {
            return {
                inputValue: '',
                list: []
            }
        },
        //在页面加载之后直接开始加载
        mounted() {

        },
        // 在标签内部的时候无法使用v-model需要使用v-bind与属性值进行绑定；在标签外部的时候可以使用差值表达式
        // 将v-for中获取的item值使用v-bind挂载到组件中content上面；将下标index挂载到组件中index上
        template: `
        <div>
            <input v-model="inputValue"/>
            <button 
            v-on:click="handleAddItem" 
            v-bind:title="inputValue"
            >
            增加
            </button>


            <ul>
                <todo-item 
                v-for='(item,index) of list' 
                v-bind:content="item"
                v-bind:index="index"
                ></todo-item>
            </ul>


        </div>
        `,
        methods: {
            handleAddItem() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }

    })

    //定义小组件；参数+内容
    app.component('todo-item',{
        //用于接收挂载值
        props: ['content','index'],
        //模版 表示该组件的bom是什么
        template: '<li>{{index}} - {{content}}</li>'
    })

    //对哪一个标签生效
    app.mount('#root')
</script>

</html>